<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Shoe Shop</title>
</head>
<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Golden Shoe</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            <a href="signup.html" class="dropdown-item">Register</a>
                            <a href="login.html" class="dropdown-item">Login</a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-info font-weight-bold text-black" nav-link" href="cart.html">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="cart.html">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0">Total € 0.00
                            </p>
                        </div>
                    </a>
                </li>
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free delivery on orders over €50!</h4>                
            </div>            
        </div>
    </header>
        <div class="message-container">
        </div>
    
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Summer Collection is here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="products.html" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
